<div class="projects-wrapper projects-grid">
  <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar-angular"></div>
        <mat-card-title>Tibata Timer</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          A Tibate Timer is blah blah blah blah, rjeir frnjrngoeg
          gregewrg
           ergr gregewrggreg ewrgerw
           g egw
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button class="mat-raised-button" routerLink="">Live Demo</a>
        <a mat-raised-button class="mat-raised-button" routerLink="">Github</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar-springboot"></div>
        <mat-card-title class="card-title">Tibata Timer</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          A Tibate Timer is blah blah blah blah, rjeir frnjrngoeg
          gregewrg
           ergr gregewrggreg ewrgerw
           g egw
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button class="mat-raised-button" routerLink="">Live Demo</a>
        <a mat-raised-button class="mat-raised-button" routerLink="">Github</a>
      </mat-card-actions>
    </mat-card>

    <!-- <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar"></div>
        <mat-card-title class="card-title">Tibata Timer</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          A Tibate Timer is blah blah blah blah, rjeir frnjrngoeg
          gregewrg
           ergr gregewrggreg ewrgerw
           g egw
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button class="mat-raised-button" routerLink="">Live Demo</a>
        <a mat-raised-button class="mat-raised-button" routerLink="">Github</a>
      </mat-card-actions>
    </mat-card> -->
</div>
