<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="profile-pic"></div>
        </div>
        <div class="col-sm-7 p-rtg-sec">
          <div class="banner-text">
            <h1>Full Stack Software Engineer</h1>
            <hr/>
            <p> Java | JavaScript | SQL | HTML | Angular | SpringBoot </p>
          </div>
          <span class="signature-name">Ryan Finazzo</span>
          <p class="p-description mt-3 mt-4">Hello, I'm Ryan,
            <br>software engineer, solutions developer, and creative problem solver just trying to make the world a better place, one line of code at a time.
            <br><br>Learn about me, check out my projects, and follow me on socials!
          </p>
          <a href="#" class="read-more">Read More <img src="./../../../assets/images/arrow_img.png" alt="Read more about Ryan" width="18"></a>
        </div>
      </div>
    </div>
</section>
