<div class="container">
  <h1 class="about-me-header">About Me</h1>
  <hr/>
  <h3>Ryan Finazzo</h3>
  <p>People always ask me, "Why do you enjoy coding?" My honest reply is simple, "it's cool and fun."<br>
  <br>I am a Software Engineer with 2 years of experience in the healthcare technology industry.
  <br>Helping others and developing technology are my passions and I accomplish both with my work.
  <br>Currently I work for a product porfolio that specializes in managing inventory for cancer research and treatment practices, or Oncology practices.
  <br>In that porfolio, I focus on a data analytics software which aids those practices in cutting costs.
  <br>
  <br>I am currently focusing on excelling at my current role and getting an AWS Developer certification.
</p>
</div>
