@import "/src/assets/scss-variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

header {
  padding: 10px 0;
  background-color: #1a1515;
  z-index: -1;
  box-shadow: 0 5px 30px -10px #1a1515;
}

.portfolio-header {
  font-family: Housttely Signature, Fallback, sans-serif;
  font-weight: bolder;
  font-size: small;
  color: white; // not here
}

header ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}


header ul, li {
	padding: 0 40px;
}

header ul:first-child {
  padding-left: 80px;
}

header ul:last-child {
  padding-right: 80px;
}

header li:first-child {
  padding-left: 0;
}

header li:last-child {
  padding-right: 0;
}


header ul li a {
  color: white; // $black
  font-weight: 500;
  position: relative;
}
header ul li a:hover {
  text-decoration: none;
}

header ul:first-child li:first-child a:first-child:hover::after, header ul li a.is-active::after{
  background-color: transparent;
}

header ul:last-child li a:hover::after, header ul li a.is-active::after{
  content: '';
  background: #ff3c3c;
  opacity: .6;
  height: 9px;
  position: absolute;
  left: 1px;
  bottom: 0;
  right: -3px;
}

#gitHubButton {
  color: white;
  outline: none;
  border: none;
  background: transparent;
  padding: 0 16px;
  vertical-align: baseline;
  border-radius: 2px;
  position: relative;
}

#gitHubButton, a, span {
  color: white;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#gitHubButton img {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

#gitHubButton:hover {
  opacity: 75%;
}
