<div class="tibata-wrapper">
  <div class="row">
    <section class="column tibata-title small-12 medium-6 large-3">
      <h2>Tibata Timer</h2>
    </section>
  </div>
  <div class="sectional">
    <div class="row-center">
      <section class="column main-timer small-12 medium-6 large-3">
        <h1>{{timer}}</h1>
      </section>
    </div>
    <div class="row-center">
      <section class="column updating-timer-text small-12 medium-6 large-3">
        <h3>{{timerText}}</h3>
      </section>
    </div>
  </div>
  <div class="row buttons">
    <button>ewfwfrw</button>
    <button>ewfwfrw</button>
    <button>ewfwfrw</button>
  </div>
</div>
