/* Global css styles */
@import "/src/assets/scss-variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html {
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $almond;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.page-wrapper {
  position: relative;
}

.page-wrapper::before {
  content: '';
  background: $almond;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-repeat: repeat-y;
}

.page-inner-wrapper::before {
  content: '';
  background: $firebrick;
  height: 100vh;
  width: 30vw;
  position: absolute;
  z-index: -1;
  background-repeat: repeat-y;
}

.p-flex {
  display: flex;
}
.p-flex-align-center {
  align-items: flex;
}

.p-flex-justify-sb {
  justify-content: space-between;
}

/* Color Pallete Hex Gradient */
@font-face {
  font-family: 'Housttely Signature';
  src: url('assets/fonts/signature/HousttelySignature.eot');
  src: url('assets/fonts/signature/HousttelySignature.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/signature/HousttelySignature.woff2') format('woff2'),
      url('assets/fonts/signature/HousttelySignature.woff') format('woff'),
      url('assets/fonts/signature/HousttelySignature.ttf') format('truetype'),
      url('assets/fonts/signature/HousttelySignature.svg#HousttelySignature') format('svg');
  font-style: normal;
  font-display: swap;
}
